.register-container {
	background: linear-gradient(
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0.5)
		),
		url('../assets/bald-lady.jpeg');
	// background-image: url('../assets/bald-lady.jpeg');
	background-position: center;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	&__wrapper {
		width: 50%;
		padding: 2rem;
		background-color: white;

		&--title {
			font-size: 2.4rem;
			font-weight: 200;
			margin: 1.4rem 0;
		}

		&--form {
			display: flex;
			flex-wrap: wrap;

			input {
				flex: 1;
				padding: 1rem;
				font-size: 1.6rem;
				min-width: 40%;
				margin: 2rem 1rem 0 0;
			}
			span {
				margin: 2rem 0;
				font-size: 1.4rem;
				width: 100%;
			}
			button {
				padding: 1.5rem 2rem;
				border: none;
				background-color: teal;
				color: white;
				width: 40%;
				cursor: pointer;
				&:hover {
					background-color: #198c8c;
					color: white;
				}
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.register-container__wrapper {
		width: 40%;
	}

	.register-container__wrapper--form input {
		font-size: 1.3rem;
	}
}

@media screen and (max-width: 650px) {
	.register-container__wrapper {
		width: 55%;
	}
	.register-container {
		background-position: 65% 60%;
	}

	.register-container__wrapper--form input {
		font-size: 1.1rem;
	}
}

@media screen and (max-width: 480px) {
	.register-container__wrapper {
		width: 63%;
	}
}

@media screen and (max-width: 400px) {
	.register-container {
		background-position: 65% 60%;
	}
	.register-container__wrapper {
		width: 75%;
	}
}
