.announcement {
	background: teal;
	height: 3rem;
	color: white;
	display: flex;
	font-size: 1.4rem;
	font-weight: bold;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 400px) {
	.announcement {
		font-size: 1.1rem;
	}
}
