.home {
	display: flex;
	width: 100%;
	overflow-x: hidden;
	max-width: 100vw;

	&__container {
		flex: 6;

		.widgets,
		.charts {
			max-width: 90vw;
			padding: 2rem;
			display: flex;
			gap: 2rem;
		}
		.widgets {
			flex-wrap: wrap;
		}
		.charts {
			padding: 0.5rem 2rem;
		}
	}
}

@media screen and (max-width: 400px) {
	.widgets {
		flex-direction: column;
	}
}
