.categories-container {
	display: flex;
	padding: 2rem;
	justify-content: space-between;
}

@media screen and (max-width: 1000px) {
	.categories-container {
		flex-direction: column;
		padding: 0;
	}
}
